<!DOCTYPE html>
<html>
<head>
<%- include('../partials/header.ejs', {page: 'mainpage'}) %>

 </head>
<p class=error> Sorry, this page is invalid. </br>
<a class= errorLink href="http://localhost:8000/">Click here to get to return to the main page</a></p>
<body>
</body>
</html>